%% -*- erlang -*-
{erl_opts, [debug_info]}.
{deps, [{edown, ".*", {git, "git://github.com/esl/edown.git", "HEAD"}},
	{deqc , ".*", {git, "git://github.com/esl/deqc.git" , "HEAD"}}
       ]}.
{edoc_opts, [{doclet, edown_doclet},
	     {top_level_readme,
	      {"./README.md", "http://github.com/esl/unsplit"}}]}.
